$light: #ffffff;
$primary-color:#51b179;
$secondary-color: #51b179;
$black: #222;
$black-light: #51b179;
$black-lighter: #ffffff;
$border-color:#eee;
$primary-font: 'Klima', sans-serif;
$secondary-font:'Open Sans', sans-serif;
$gray : #f7fdfc;
